.image-add {
    width: 350px;
    height:454px;
    margin:8px;
}

.image-path {
    max-width: 300px;
    height: 250px;
    border: #f1f1f1 solid 2px;
    cursor:pointer;
}

.describe {
    padding:4px;
    width:auto;
    height:100px;
}

div.images {
    min-height: 550px;
}

.popup {
	position: absolute;
	height:100%;
	width:100%;
    top:0;
	left:0;
	display:none;
	text-align:center;
}

.popup_bg {
	background:rgba(0,0,0,0.4);
	position:absolute;
	z-index:1;
	height:100%;
	width:100%;
}

.popup_img {
	position: relative;
	margin:0 auto;
	z-index:2;
	max-height:94%;
	max-width:94%;
	margin:1% 0 0 0;
}

.buttons {
    padding-bottom:50px;
}

.custom {
    width:250px;
}
